@charset "ISO-8859-1";

li
{
	
	list-style-type: none;

}
.nav-item
{
	
	border:1px solid lightgray;
	border-radius:5px;
	width:60px;
    overflow:hidden;
	color: black;
	text-decoration: none;
	text-align: center;
	background-color: lightgray;
 float:right;
 height:30px;
 margin-right: 5px;
 font-size: small;
 

	
}
#btn
{
	color:black;
	text-decoration: none;
	
}

.btn-item
{

	color:black;
	text-decoration: none;
}
#btns
{
	color:black;
	text-decoration: none;
}

#div1
{
	
	width:100%;
	
}
.navbar-na
{
	float: right;
	margin-left: 830px;
}
#date
{
	float: right;
	margin-right: 45px;
}
.nav-item1
{
   display:inline-flex;
	width:170px;
	border:1px solid grey;
	height: 70px;
	margin-right: 5px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

.nav-item1:hover,.nav-item:hover,.nav-item2:hover,.nav-item4:hover
{
	opacity: 0.4;
}
.navbar-nav1
{
	 display:inline-flex;
	width:210px;
	height: 50px;
	
	margin-right: 10px;
	text-align: center;
	
}
#btn1
{
	width:210px;
	text-decoration: none;

	color: black;
	margin-top: 20px;
}
.nav-item2
{
   display:inline-flex;
	width:170px;
	border:1px solid grey;
	height: 60px;
	margin-right: 5px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}
.navbar-nav2
{
	 display:inline-flex;
	width:210px;
	height: 60px;
	margin-right: 10px;
	text-align: center;
	
}
#btn2
{
	width:210px;
	text-decoration: none;
	color: black;
	margin-top: 15px;
}
.nav-item4
{
   display:inline-flex;
	width:130px;
	border:1px solid grey;
	height: 50px;
	margin-right: 10px;
	text-align: center;
}
.navbar-nav4
{
	 display:inline-flex;
	width:210px;
	height: 50px;
	
	margin-right: 10px;
	text-align: center;
	
}
#addbtn1,#btnhr1,#btnall,#addbtn2,#btnhr2,#addbtn3,#btnhr3,#addbtn4,#btnhr4
{
	width:210px;
	text-decoration: none;
	color: black;
	margin-top: 10px;
}
#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#div11,#div12,#div13,#div14,#div15
{
	display: none;
}
#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#div11,#div12,#div13,#div14,#div15
{
	width: 100%;
}
#t2,th,td
{
	font-size: medium;
	color: gray;
}
#addbtn1:hover,#addbtn2:hover,#addbtn3:hover,#addbtn4:hover
{
	opacity:0.4;
}
.nav-item4
{
	background-color: white;
	border-radius: 10px;
	
}
#addbtn1,#addbtn2,#addbtn3,#addbtn4
{
	width:50px;
	font-size: large;
	font-weight: bold;
	border:1px solid gray;
}
.nav-item3
{
	margin-left: 50px;
}
.nav-itemadd1
{
	margin-left: 236px;
}
.nav-itemadd2
{
	margin-left: 415px;
}
.nav-itemadd3
{
	margin-left: 590px;
}
.modal-dialog
{
	width:2020px;
}
.btn-danger4:hover,.btn-success4:hover,.btn-danger3:hover,.btn-success3:hover,.btn-danger2:hover,.btn-success2:hover,.btn-danger1:hover,.btn-success1:hover
{
	opacity: 0.5;
}

.btn-danger4,.btn-success4,.btn-danger3,.btn-success3,.btn-danger2,.btn-success2,.btn-danger1,.btn-success1
{
	width:70px;
	height:35px;
	
}


